h6 {
  display: inline-block;
  cursor: pointer;
}
.pending {
  display: inline-block;
}

.btn {
  margin-left: 5px;
}

.user {
  cursor: pointer;
}

.friend {
  display: inline-block;
}

img {
  padding-right: 5px;
}
