<div class="card">
  <div class="card-header text-center">
    <h6 (click)="showFriendsOrRequests(true)">Friends {{ friends.length }}</h6>
    |
    <h6 (click)="showFriendsOrRequests(false)">
      Friends requests {{ pendingUsers.length }}
    </h6>
  </div>
  <div class="card-body">
    <div *ngIf="showFriends">
      <div
        *ngFor="let friend of friends"
        class="user"
        (click)="navigateToUsersPage(friend.id)"
      >
        <div *ngIf="friend.imageUrl" class="friend">
          <img avatar src="{{ friend.imageUrl }}" width="30px" height="30px" />
        </div>
        <div *ngIf="!friend.imageUrl" class="friend">
          <img
            avatar
            src="/assets/images/avatar.png"
            width="30px"
            height="30px"
          />
        </div>
        <p class="friend">
          {{ friend.firstName + " " + friend.lastName }}
        </p>
      </div>
    </div>
    <div *ngIf="!showFriends">
      <div
        *ngFor="let pendingUser of pendingUsers"
        class="pending user"
        (click)="navigateToUsersPage(pendingUser.id)"
      >
        <div *ngIf="pendingUser.imageUrl" class="friend">
          <img
            avatar
            src="{{ pendingUser.imageUrl }}"
            width="30px"
            height="30px"
          />
        </div>
        <div *ngIf="!pendingUser.imageUrl" class="friend">
          <img
            avatar
            src="/assets/images/avatar.png"
            width="30px"
            height="30px"
          />
        </div>
        <div class="friend">
          {{ pendingUser.firstName + " " + pendingUser.lastName }}
        </div>
        <button
          class="btn btn-outline-primary"
          (click)="confirmFriendsRequest(pendingUser.id)"
        >
          Confirm
        </button>
        <button
          class="btn btn-outline-primary"
          (click)="deleteFriendsRequest(pendingUser.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
