<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">ChatApp</h1>
        <h3 class="mr-auto">
          {{ userName }}
        </h3>

        <ng-content></ng-content>

        <img
          src="https://img.icons8.com/ios-filled/50/000000/filled-chat.png"
          width="30px"
          height="30px"
          (click)="openMessenger()"
        />

        <form class="ml-auto">
          <input
            id="search-users"
            class="form-control mr-sm-2 search"
            type="search"
            placeholder="Search for people"
            aria-label="Search"
            name="search"
          />
        </form>
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          (click)="signOut()"
        >
          Sign out
        </button>
      </nav>
    </div>
  </div>
</div>
