<div class="card">
  <div class="card-header">
    <img
      src="https://img.icons8.com/fluent-systems-filled/24/000000/close-window.png"
      (click)="closePrivateChatRoom()"
    />
  </div>
  <div class="card-body" *ngFor="let message of messages">
    <div *ngIf="message.isMessageSentByUser">
      <p class="userName">{{ user.firstName }} {{ user.lastName }}</p>
    </div>
    <div *ngIf="!message.isMessageSentByUser">
      <p class="userName messageSentByFriend">
        {{ friend.firstName }} {{ friend.lastName }}
      </p>
    </div>
    <br style="clear: both" />
    <div [ngStyle]="{ float: !message.isMessageSentByUser ? 'right' : 'left' }">
      <p>
        {{ message.message }}
      </p>
    </div>
  </div>
  <div class="card-footer">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input
        class="form-control mr-sm-2 search"
        name="message"
        placeholder="..."
        ngModel
      />
      <button type="submit" class="btn submit btn-outline-success">send</button>
    </form>
  </div>
</div>
