<div class="card">
  <div class="card-header" *ngIf="friend">
    <div *ngIf="friend.imageUrl" class="friend-card-header image">
      <img avatar src="{{ friend.imageUrl }}" width="45px" height="35px" />
    </div>
    <div *ngIf="!friend.imageUrl" class="friend-card-header image">
      <img avatar src="/assets/images/avatar.png" width="30px" height="30px" />
    </div>
    <p class="friend-card-header name">
      {{ friend.firstName }} {{ friend.lastName }}
    </p>
    <img
      class="close-chat-room"
      src="https://img.icons8.com/fluent-systems-filled/24/000000/close-window.png"
      (click)="closePrivateChatRoom()"
    />
  </div>
  <div class="card-body">
    <div *ngFor="let message of messages">
      <!-- message sent by user -->
      <div
        *ngIf="
          message.senderId === user.id &&
          message.userIdToDeleteChatHistory !== user.id
        "
        class="message-sent-by-user"
      >
        <div class="message">
          <p>
            {{ message.message }}
          </p>
          <p class="delete-message" (click)="deleteChat(message)">delete</p>
        </div>
      </div>
      <!-- message sent-by-friend -->
      <div
        *ngIf="
          message.senderId !== user.id &&
          message.userIdToDeleteChatHistory !== user.id
        "
        class="message-sent-by-friend"
      >
        <div *ngIf="friend.imageUrl" class="friend">
          <img
            avatar
            src="{{ friend.imageUrl }}"
            width="30px"
            height="30px"
            class="friends-image"
          />
        </div>
        <div *ngIf="!friend.imageUrl" class="friend">
          <img
            class="friends-image"
            avatar
            src="/assets/images/avatar.png"
            width="30px"
            height="30px"
          />
        </div>
        <div class="message friend">
          <p>
            {{ message.message }}
          </p>

          <p class="delete-message" (click)="deleteChat(message)">delete</p>
        </div>
      </div>
      <br />
      <div
        class="seen"
        *ngIf="
          message.userIdToDeleteChatHistory !== user.id &&
          isMessageSeen(message)
        "
      >
        <div *ngIf="friend.imageUrl" class="friend seen">
          <img
            avatar
            src="{{ friend.imageUrl }}"
            width="30px"
            height="30px"
            class="friends-image"
          />
        </div>
        <div *ngIf="!friend.imageUrl" class="friend seen">
          <img
            class="friends-image"
            avatar
            src="/assets/images/avatar.png"
            width="30px"
            height="30px"
          />
        </div>
      </div>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="flex">
    <input
      class="form-control mr-sm-2 search"
      name="message"
      placeholder="..."
      ngModel
    />
    <button type="submit" class="btn submit btn-outline-success pull-right">
      send
    </button>
  </form>
</div>
<br />
