.close-chat-room {
  float: right;
  padding-right: 5px;
}
.userName {
  font-weight: bold;
}

.messageSentByFriend {
  float: right;
}
.messageSentByFriend.clear {
  clear: left;
}

.delete-message {
  display: none;
}

.message:hover .delete-message {
  display: block;
  font-size: small;
}

.card {
  height: 500px;
  overflow-y: auto;
}

.friend-card-header {
  float: left;
}

.user {
  float: left;
}

.image {
  padding-right: 5px;
}

.friend {
  float: right;
}

.friends-image {
  padding-left: 5px;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.message {
  margin-bottom: 0px;
}
