img {
  float: right;
}
.userName {
  font-weight: bold;
}

.messageSentByFriend {
  float: right;
}
.messageSentByFriend.clear {
  clear: left;
}

.delete-message {
  display: none;
}

.message:hover .delete-message {
  display: block;
  font-size: small;
}

.card {
  height: 500px;
  overflow-y: auto;
}
