<div class="container">
  <div class="row">
    <div class="col-md-4 offset-sm-4 col-sm-12">
      <br /><br />
      <div class="card">
        <h2>Chatroom <i class="far fa-comment-dots"></i></h2>

        <br />

        <form #f="ngForm" (ngSubmit)="addNewUser(f)" novalidate>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              name="firstName"
              type="text"
              class="form-control"
              id="firstName"
              ngModel
              required
              #firstName="ngModel"
            />
            <div
              class="required"
              *ngIf="(f.submitted || firstName.touched) && firstName.errors"
            >
              This field is required!
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              name="lastName"
              type="text"
              class="form-control"
              id="lastName"
              ngModel
              required
              #lastName="ngModel"
            />
            <div
              class="required"
              *ngIf="(f.submitted || lastName.touched) && lastName.errors"
            >
              This field is required!
            </div>
            <div class="form-group">
              <label for="inputEmail4">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="inputEmail4"
                ngModel
                required
                #email="ngModel"
              />
              <div
                class="required"
                *ngIf="(f.submitted || email.touched) && email.errors"
              >
                This field is required!
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword4">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="inputPassword4"
                ngModel
                required
                #password="ngModel"
                minlength="8"
              />
              <div class="required" *ngIf="password.errors?.minlength">
                Password must be at least 8 characters long!
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-secondary" [disabled]="!f.valid">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
