<div class="card">
  <div class="card-header">
    <form>
      <input
        id="search-friends"
        type="search"
        name="search"
        class="form-control mr-sm-2 search"
        placeholder="Search friends"
      />
    </form>
  </div>
  <div class="card-body">
    <div *ngFor="let friend of friends">
      <div
        *ngIf="
          chatHistory[friend.id].length &&
          !isChatHistoryDeleted(chatHistory[friend.id])
        "
      >
        <div class="chat" (click)="openPrivateChat(friend.id)">
          <div *ngIf="friend.imageUrl" class="friend">
            <img
              avatar
              src="{{ friend.imageUrl }}"
              width="45px"
              height="45px"
            />
          </div>
          <div *ngIf="!friend.imageUrl" class="friend">
            <img
              avatar
              src="/assets/images/avatar.png"
              width="40px"
              height="40px"
            />
          </div>
          <div class="friend name">
            {{ friend.firstName }} {{ friend.lastName }}
          </div>
          <br />
          <!-- if user sent a message, add 'you:' before the message -->
          <div
            class="friend"
            *ngIf="
              getLastMessageNotDeletedByUser(chatHistory[friend.id])
                .senderId === user.id;
              else other_content
            "
          >
            you:
            {{ getLastMessageNotDeletedByUser(chatHistory[friend.id]).message }}
          </div>
          <!-- else just display friend's name -->
          <ng-template #other_content>
            {{ friend.firstName }}:
            {{
              getLastMessageNotDeletedByUser(chatHistory[friend.id]).message
            }}</ng-template
          >
        </div>
        <button class="btn" (click)="deleteChat(friend.id)">delete</button>
      </div>
    </div>
  </div>
</div>
