<app-navbar
  [userName]="currentUserName"
  [users]="users"
  [isMessengerOpened]="isMessengerOpened"
  (isMessengerOpenedEvent)="updateIsMessengerOpened($event)"
  (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
>
  <div *ngIf="imageUrl">
    <img avatar src="{{ imageUrl }}" width="100px" height="100px" />
  </div>
  <div *ngIf="!imageUrl">
    <img avatar src="/assets/images/avatar.png" width="100px" height="100px" />
  </div>
  <button upload-avatar (click)="openImageUploadForm()">upload image</button>
</app-navbar>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <app-user-friends
        [userFriends]="userFriends"
        [users]="users"
        [friends]="friends"
        (updateFriendsEvent)="getAllFriends()"
      ></app-user-friends>
    </div>
    <div class="col-md-4 col-sm-12" *ngIf="isImageUploadFormOpened">
      <app-image-upload
        [isImageUploadFormOpened]="isImageUploadFormOpened"
        [imageUrl]="imageUrl"
        (isImageUploadFormOpenedEvent)="updateIsImageUploadFormOpened($event)"
        (setImageUrlEvent)="setImageUrl($event)"
      ></app-image-upload>
    </div>
    <div class="col-md-4 offset-sm-4 col-sm-12" *ngIf="isMessengerOpened">
      <app-messenger
        [isMessengerOpened]="isMessengerOpened"
        [friends]="friends"
        [isChatRoomOpened]="isChatRoomOpened"
        [userChats]="userChats"
        [chatHistory]="chatHistory"
        (isMessengerOpenedEvent)="updateIsMessengerOpened($event)"
        (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
        (getFriendIdEvent)="getFriendId($event)"
        (deleteChatHistory)="deleteChatHistory($event)"
      ></app-messenger>
    </div>
    <div class="col-md-4 offset-sm-4 col-sm-12" *ngIf="isChatRoomOpened">
      <app-chat-room
        [isChatRoomOpened]="isChatRoomOpened"
        (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
        [friendId]="friendId"
        [userChats]="userChats"
        (isNewMessageSentEvent)="updateIsNewMessageSentEvent($event)"
        [message]="message"
        (deleteChatHistory)="deleteChatHistory($event)"
      ></app-chat-room>
    </div>
  </div>
</div>
