<app-navbar
  [userName]="currentUserName"
  [users]="users"
  [isMessengerOpened]="isMessengerOpened"
  (isMessengerOpenedEvent)="updateIsMessengerOpened($event)"
  (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
>
</app-navbar>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <app-user-friends
        [userFriends]="userFriends"
        [users]="users"
        [friends]="friends"
        (updateFriendsEvent)="getAllFriends()"
      ></app-user-friends>
    </div>
    <div class="col-md-4 offset-sm-4 col-sm-12" *ngIf="isMessengerOpened">
      <app-messenger
        [isMessengerOpened]="isMessengerOpened"
        [friends]="friends"
        [isChatRoomOpened]="isChatRoomOpened"
        [userChats]="userChats"
        (isMessengerOpenedEvent)="updateIsMessengerOpened($event)"
        (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
        (getFriendIdEvent)="getFriendId($event)"
      ></app-messenger>
    </div>
    <div class="col-md-4 offset-sm-4 col-sm-12" *ngIf="isChatRoomOpened">
      <app-chat-room
        [isChatRoomOpened]="isChatRoomOpened"
        (isChatRoomOpenedEvent)="updateIsChatRoomOpened($event)"
        [friendId]="friendId"
      ></app-chat-room>
    </div>
  </div>
</div>
